table {
    border-collapse: collapse;
    width: 790px;
    color: #c9c9c9;
}

td{
    border: 1px dashed lightblue;
    text-align: center;
}

th {
    border: 1px dashed lightblue;
    background-color:#ECECEC;
    color: cornflowerblue;
}

.admin_tab {
    margin-bottom: 10px;
}

#subnav .active {
    background-color: #FF6600;
}