body {
    color: black;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    width: 1024px;
/*    position: absolute;
    left: 50%;
    margin-left: -512px;*/
    margin: auto;
}

input {
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
}

header {
    border-bottom: 2px solid lightblue;
    position: relative;
    width: 1024px;
}

.clear {
    width: 0;
    height: 0;
    font-size: 0;
    clear: both;
}

#content {
    width: 1024px;
}

#menu ul {
    padding: 0;
}

#menu ul li {
    display: inline;
    float: right;
    list-style: none;
    margin-left: 14px;
    background-color: #dddddd;
    padding: 3px;
    height: 70px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
}

#menu ul li:hover {
    background-color: lightblue;
}

.active {
    background-color: lightblue !important;
}

#container {
    padding: 10px;
    background-color: lightblue;
    position: absolute;
    right: 0px;
    bottom: -168px;
    display: none;
    border-radius: 5px 0 5px 5px;
    color: #FFFFFF;
}

#container label {
    line-height: 21px;
}

#loginContainer {
    height: 110px;
}

#loginButton {
    color: darkgray;
    border: 0;
    padding: 3px;
    border-radius: 3px;
}

#loginContainer p {
    width: 276px;

}

#loginContainer p input {
    float: right;
    color: dark;
}

#registerContainer {
    display: none;
    height: 524px;
}

#register_login {
    height: 30px;
    background-color: #F0F0F0;
    vertical-align: middle;
    text-align: center;
    border-radius: 3px;
    background-image: url('../media/register_login.png');
    background-position: 0 0;
    cursor: pointer;
    color: darkgray;
}

#registerLink {
    line-height: 30px;
}

#registerContainer p {
    margin: 2px;
    width: 272px;
}

#registerContainer p input {
    width: 272px;
    color: darkgray;
    margin: 2px;
}

#registerContainer p #street {
    width: 170px;
}

#registerContainer p #nr {
    width: 94px;
    margin-left: 2px;
}

#addition {
    width: 272px;
    resize: none;
    margin-left: 2px;
    height: 55px;
}

#registerContainer p #registerButton {
    border: 0;
    border-radius: 3px;
    margin-top: 10px;
    padding: 3px;
}

#left {
    width: 797px;
    float: left;
    border-left: 1px solid lightblue;
}

#shopping_cart {
    border-left: 2px solid lightblue;
    width: 224px;
    float: right;
}

#basket {
    padding: 5px;
    background-color: #efefef;
}

#shopping_cart_logo {

}

#articleList {
    padding-top: 41px;
/*    height: 797px;
    overflow: scroll;*/
}

.arcticle {
    background-color: #efefef;
    width: 310px;
    min-height: 400px;
    padding: 5px;
    margin-bottom: 51px;
    border-radius: 3px;
    border: 1px solid #c9c9c9;
    float: left;
    margin-left: 51px;
}

.articleTitel {
    line-height: 40px;
    font-size: 20px;
    cursor: help;
}

.articleContent { }

.articleImg {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border: 5px solid #FFFFFF;
    border-radius: 3px;
}

.articleDetails {
    margin-top: 10px;
}

.articleDetails ul{
    background-color: #FFFFFF;
    border-radius: 3px;
    margin: 0;
    padding: 5px;
    list-style: none;
}

.articleDescription {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 3px;
    background-color: #FFFFFF;
}