body {
    color: black;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    width: 1024px;
    margin: auto;
    cursor: default;
}

input {
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    background-color: #E0F1FF;
}

input[type=button] {
    height: 40px;
    min-width: 100px;
    color: #FFFFFF;
    background-color: cornflowerblue;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border: 0px;
    border-radius: 6px;
    cursor: pointer;
}

textarea {
    resize: none;
}


header {
    border-bottom: 1px solid #c9c9c9;
    position: relative;
    width: 1024px;
    height: 100px;
    background-image: url('../media/logo_trans_2.png');
}

.clear {
    width: 0;
    height: 0;
    font-size: 0;
    clear: both;
}

#content {
    width: 1024px;
}

#left {
    width: 796px;
    float: left;
    border-right: 1px solid #c9c9c9;
    margin-top: 1px;
    margin-bottom: 20px;
    min-height: 493px;
}
/* --- nav --- */
#menu ul {
    padding: 0;
}

#menu ul li {
    display: inline;
    float: right;
    list-style: none;
    margin-left: 14px;
    background-color: #EFEFEF;
    padding: 3px;
    height: 70px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    margin-top: 24px;
}

#menu ul li:hover {
    background-color: #E0F1FF;
    margin-top: 24px;
    border: 1px solid #c9c9c9;
    border-bottom: 0;
}

#menu .active {
    background-color: #FFFFFF;
    margin-top: 24px;
    border: 1px solid #c9c9c9;
    border-bottom: 0;
}

#container {
    padding: 10px;
    background-color: #FFFFFF;
    position: absolute;
    right: 0px;
    bottom: -166px;
    display: none;
    border: 1px solid #c9c9c9;
    border-top: 0;
    border-radius: 2px 0 2px 2px;
    color: cornflowerblue;
    box-shadow: 0px 10px 5px #888;
    z-index: 2;
}

#menu #adminTab {
    display: none;
}

/* --- system --- */

#system {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 5px;
    font-size: 20px;
    text-align: center;
}

#system span {
    color: cornflowerblue;
}

#messages {
    border: 1px dashed #c9c9c9;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    display: none;
}

#system .error_message {
    border-color: #FA5858;
    background-color: #F7C5C7;
    color: #FA5858;
}

#system .success_message {
    border-color: #50D849;
    background-color: #ACFFA8;
    color: #50D849;
}

/* --- search --- */
#search_container {
    height: 60px;
    width: 673px;
    margin-left: 51px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    color: cornflowerblue;
}

#search {
    line-height: 40px;
    height: 40px;
    width: 549px;
    padding: 0 10px;
    margin-right: 20px;
    border-radius: 3px;
    color: #c9c9c9;
    font-size: 20px;
    font-weight: bold;
}

#searchButton {
    margin-top: -6px;
}

#suggestions ul{
    color: #c9c9c9;
    width: 537px !important;
    position: absolute;
    background-color: #FFFFFF;
    cursor: pointer;
    border: 1px solid #c9c9c9;
    border-radius: 0 0 2px 2px;
    box-shadow: 0px 10px 5px #888;
    padding: 5px !important;
    z-index: 2 !important;
}

#suggestions ul li {
    display: block;
    list-style: none;
}

#suggestions ul li a{
    padding: 5px 20px;
    display: block;
    border-radius: 3px;
}

.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active{
    background-color: #E0F1FF;
}

/* --- login/register --- */
#container label {
    line-height: 21px;
}

#loginContainer {
    height: 115px;
}

#loginButton {
    width: 100px;
}

#loginContainer p {
    width: 276px;
}

#loginContainer p input {
    float: right;
    color: dark;
}

#registerContainer {
    display: none;
    height: 524px;
    margin-top: 14px;
}

#register_login {
    height: 40px;
    background-color: cornflowerblue;
    background-image: url('../media/register_login.png');
    background-position: 0 0;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border: 0px;
    border-radius: 6px;
    cursor: pointer;
    line-height: 40px;
}

#addition {
    border: 1px solid #F0F0F0;
    border-radius: 2px;
}

#registerContainer p {
    margin: 2px;
    width: 272px;
}

#registerContainer p input {
    width: 272px;
    color: darkgray;
    margin: 2px;
}

#registerContainer p #street {
    width: 170px;
}

#registerContainer p #nr {
    width: 96px;
    margin-left: 2px;
    margin-right: 0;
}

#registerContainer p #zip {
    width: 40px;
}

#addition {
    width: 272px;
    resize: none;
    margin-left: 2px;
    height: 55px;
}

#registerContainer p #registerButton {
    border: 0;
    margin-top: 10px;
    color: #FFFFFF;
}

/* --- Article --- */

#articleList {
    padding-top: 10px;
}

.article {
    background-color: #efefef;
    width: 310px;
    height: 558px;
    padding: 5px;
    margin-bottom: 51px;
    border-radius: 3px;
    border: 1px solid #c9c9c9;
    float: left;
    margin-left: 51px;
}

.articleValues {
    color: #FF6600;
    float: right;
}

.articleTags {
    color: cornflowerblue;
    margin: 10px 0 0 0;
}

.articleTitel {
    line-height: 40px;
    font-size: 20px;
    cursor: help;
    color: cornflowerblue;
    float: left;
    width: 270px;
}

.pin {
    height: 40px;
    width: 40px;
    background-image: url('../media/un_pin.png');
    background-position: 0 0;
    float: left;
    cursor: pointer;
}

.nopin {
    display: none;
}

.articleContent { 
}

.articleImg {
    background-color: #FFFFFF;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    padding: 4px;
    overflow: hidden;
}

.articleDetails {
    margin-top: 10px;
}

.articleDetails ul{
    background-color: #FFFFFF;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    margin: 0;
    padding: 5px;
    list-style: none;
}

.in, .out {
    background-color: lawngreen;
    margin-top: 5px;
    width: 11px;
    height: 11px;
    border-radius: 5px;
    float: right;
    cursor: help;
}

.out {
    background-color: red;
}

.articleDescription {
    z-index: 1;
    pointer: help;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 2px;
    background-color: #FFFFFF;
    width: 298px;
    border: 1px solid #c9c9c9;
    position: absolute;
    font-size: 14px;
}

.shadowedDescription {
    box-shadow: 0px 10px 5px #888;
}

/* --- ShopingCard --- */
#shoping_cart {
    border: 1px solid #c9c9c9;
    border-left: 0;
    border-top: 0;
    margin-top: 1px;
    width: 224px;
    float: right;
    /*    background-color: #efefef;*/
}

#basket {
    min-height: 400px;
    padding: 5px;
}

.articleAtCard {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 3px;
    background-color: #FFFFFF;
    border: 1px solid #c9c9c9;
    font-size: 14px;
}

.articleAtCardTitle {
    border-bottom: 1px solid #c9c9c9;
    color: cornflowerblue;
    padding-bottom: 5px;
    margin-bottom: 5px;
    cursor: help;
    float: left;
}

.articleAtCardClose {
    float: right;
    cursor: pointer;
    color: darkgray;
    font-size: 10px;
    font-weight: bold;
    margin-right: 3px;
}

.articleAtCardPrice {
    width: 140px;
    float: left;
}

.articleAtCardPrice span {
    color: #FF6600;
    padding-left: 10px;
}

.articleAtCardAmount {
    padding-right: 10px;
    float: left;
}

.articleAtCardAmount input{
    float: right;
    text-align: right;
}

.amountElements {
    float: right;
    width: 10px;
    cursor: pointer;
}

.amountSelect {
    text-align: center;
    height: 8px;
    width: 16px;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    background-color: #FFFFFF;
    line-height: 6px;
    font-size: 8px;
    font-weight: bold;
}

#shoping_cart_price {
    text-align: right;
    padding-right: 5px;
    background-color: #FFFFFF;
    border-radius: 2px;
    margin: 5px;
    border-bottom: 1px solid #c9c9c9;
    border-top: 1px solid #c9c9c9;
}

#shoping_cart_price span {
    color: #FF6600;
    line-height: 30px;
}

#buyButton {
    /*    background-image: url('../media/buy.png');
        height: 50px;*/
    width: 212px;
    margin-bottom: 7px;
    margin-left: 5px;
    /*    text-align: center;
        color: cornflowerblue;
        font-size: 16px;
        border: 1px solid #c9c9c9;
        background-color: #FFFFFF;
        cursor: pointer;*/
}

/* --- Payment --- */
#payment {
    position: absolute;
    top: 170px;
    left: auto;
    /*    height: 600px;*/
    width: 811px;
    display: none;
    box-shadow: 10px 10px 5px #888; 
    border: 1px solid #c9c9c9;
    border-top: 0;
    border-left: 0;
    border-radius:  0 0 2px 2px;
    color: darkgray;
    z-index: 1;
}

#payment_content {
    height: 571px;
    background-color: #FFFFFF;
    border-left: 1px solid #c9c9c9;
    border-radius:  0 0 0 2px;
    padding: 5px;
}

#payment_top {
    width: 812px; 
    height: 23px;
    background-image: url('../media/payment_top.png');
}

#payment hr {
    /* Farbe f�r Opera und Firefox */
    background-color: #EFEFEF;
    /* Farbe f�r Internet Explorer (IE) */
    color: #EFEFEF;
    border: 0;
    height: 1px; 
}

.payment_head {
    color: cornflowerblue;
    background-color: #EFEFEF;
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 5px;
}

#paymentClose {
    float: right;
    margin-right: 5px;
    cursor: pointer;
}

#payment .payment_text {
    float: right;
    width: 200px;
    background-color: #E0F1FF;
}


#personality_column_1,
#delivery_column_1 {
    width: 384px;
    float: left;
    padding-left: 5px;
    padding-right: 10px;
    border-right: 1px solid #EFEFEF;
    margin-bottom: 10px;
}

#personality_column_2,
#delivery_column_2 {
    width: 384px;
    float: left;
    padding-left: 10px;
    margin-bottom: 10px;
}

#bank_transfer {
    width: 384px;
    height: 226px;
    padding-left: 5px;
    padding-right: 10px;
    border-right: 1px solid #EFEFEF;
    float: left;
    margin-bottom: 10px;
}

#credit_card {
    width: 385px;
    height: 226px;
    padding-right: 5px;
    padding-left: 10px;
    float: left;
    margin-bottom: 10px;
}

#payment .ccnr,
#payment #cvc_cvv {
    width: 47px;
    margin-left: 4px;
}
#valid_month {
    margin-left: 198px;
}

#delivery {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
}

#delivery_column_2 {
    padding-right: 0;
    width: 380px;
}

#payment #delivery_street {
    width: 150px;
    margin-right: 3px;
}

#payment #deliver_zip {
    width: 40px;
    float: none;
    margin-left: 30px;
}
#payment #delivery_nr {
    width: 96px;
}

#payButton {
    width: 100px;
    float: right;
    margin-bottom: 5px;
    margin-right: 5px;
}

/* --- Profile --- */
