<div id="divAddArticle">
<b>Add new Article:</b>

    <table id='add' border='0' cellspacing='0' cellpadding='4'>
        <tr valign="top">
            <td bgcolor='#ECECEC'>Name:</td>
            <td><input type="text" name="name" id="newName"></td>
            <td bgcolor='#ECECEC' rowspan="6">Description:</td>
            <td rowspan="6"><textarea cols="52" rows="12" id="newDescr"></textarea><br></td>
        </tr>
        <tr>
            <td bgcolor='#ECECEC'>Number (in stock):</td>
            <td><input type="text" name="anzahl" id="newNr"></td>
        </tr>
        <tr>
            <td bgcolor='#ECECEC'>Category ID:</td>
            <td><input type="text" name="kategorie" id="newCat"></td>
        </tr>
        <tr>
            <td bgcolor='#ECECEC'>Price:</td>
            <td><input type="text" name="preis" id="newPrice"></td>
        </tr>
        <tr>
            <td bgcolor='#ECECEC'>Image source:</td>
            <td><input type="text" name="bildpfad" id="newImg"></td>
        </tr>        
        <tr>
            <td bgcolor='#ECECEC'>Publish now:</td>
            <td><input type="checkbox" name="veroeffentlicht" id="newPubl"></td>
        </tr>
    </table>
    
    <input onclick='createArticle();' type="button" name="add" id="newArticleSubmit" value="Add Article">
<br><br>
</div>
<input type="button" onclick='getAllArticles();'value="Show all articles" />
<br><br>
<div id="divArtikelTabelle"></div>